@(productForm: Form[Product])
 
@import helper._
@import helper.twitterBootstrap._
 
@main("Product form") {
  <h1>Product form</h1>
  @helper.form(action = routes.Products.save()) {
    <fieldset>
       <legend>Product (@productForm("name").valueOr("New"))</legend>
       @helper.inputText(productForm("ean"), '_label -> "EAN")
       @helper.inputText(productForm("name"), '_label -> "Name")
       @helper.textarea(productForm("description"), '_label -> "Description")
    </fieldset>
	<div class="control-group"><div class="controls">
<input name="tags[0].id" value="1" type="checkbox"
@for(i <- 0 to 2) {
@if(productForm("tags[" + i + "].id").value=="1"){ checked }
}> lightweight
<input name="tags[1].id" value="2" type="checkbox"
@for(i <- 0 to 2) {
@if(productForm("tags[" + i + "].id").value=="2"){ checked }
}> metal
<input name="tags[2].id" value="3" type="checkbox"
@for(i <- 0 to 2) {
@if(productForm("tags[" + i + "].id").value=="3"){ checked }
}> plastic
</div>
</div>


    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Products.list()">Cancel</a>
  }
}
